@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --font-headers: "ivypresto-text", "DM Sans", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-body: "Hedvig Letters Serif", "Inter", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  	Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --color-bg-0: rgb(202, 216, 228);
  --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%);
  --color-theme-1: #ff3e00;
  --color-theme-2: #4075a6;
  --color-text: rgba(0, 0, 0, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  color: var(--color-text);
  color: white;
  transition: 0.2s ease;
  background: #0e0e18;
  background: #07070d;
  background: white;
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg-1);
  background-size: 100vw 100vh;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
  background: #eff1f4;
  background: #f3f4f7;
  background: none;
  transition: 0.2s ease;
  overflow-x: hidden;
}

/* Heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #0e0a33;
}

/* Paragraph and text elements */
p,
span,
li,
label,
input,
textarea {
  font-family: "DM Sans", "Inter", sans-serif;
  font-weight: 600;
  margin: 0;
  color: #0e0a33;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(3, 0, 37, 0.8);
  border-radius: 16px;
  cursor: pointer;
  border: 4px solid #FFFAF6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #030025;
}

.headerr {
  margin: 20px 0 80px 0;
}
.headerr h1 {
  font-family: "ivypresto-headline", "Newsreader", sans-serif;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 36px;
  color: rgba(0, 0, 0, 0.8);
}
.headerr h2 {
  font-family: "ivypresto-headline", "Newsreader", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#overlay ::-webkit-scrollbar {
  width: 0;
}
::-moz-selection {
  background: #030025;
  color: white;
  font-weight: 500;
}
::selection {
  background: #030025;
  color: white;
  font-weight: 500;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 90%;
  text-align: left;
  color: #030025;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: left;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 140%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.25);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

a {
  padding: 0px 0px;
  border-radius: 4px 4px 0 0;
  transition: 0.2s ease;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

button {
  color: #030025;
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 10px 8px 12px;
  margin: 12px 0;
  outline: none;
  border: none;
  transition: 0.2s ease;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2), inset -1px -2px 4px rgba(0, 0, 0, 0.25);
}
button h2 {
  display: block;
  font-family: "ivypresto-headline", "Newsreader", sans-serif;
  color: #030025 !important;
  text-shadow: -0.3px 0 0 #030025;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
button:hover {
  opacity: 0.8;
}

.prose {
  text-align: left;
  font-family: var(--font-body);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 160%;
  color: #030025;
}
.prose h1 {
  font-family: var(--font-headers);
  letter-spacing: -0.64px;
  font-size: 28px;
  font-weight: 500;
  margin: 48px 0 24px 0;
  padding-bottom: 4px;
  width: 100%;
  max-inline-size: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  color: rgba(3, 0, 37, 0.7);
}
.prose h2 {
  font-family: var(--font-headers);
  letter-spacing: 0px;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 500;
  margin: 40px 0 16px 0;
  color: #030025;
}
.prose h3 {
  font-family: var(--font-headers);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 110%;
  margin: 48px 0 24px 0;
  color: #030025;
}
.prose h4 {
  font-family: var(--font-headers);
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0;
  color: #030025;
}
.prose p {
  font-family: var(--font-body);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 160%;
  margin: 24px auto;
  padding: 0;
  max-inline-size: 100%;
}
.prose ul {
  margin: 0;
}
.prose ol {
  margin: 0;
}
.prose li {
  font-family: var(--font-body);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 160%;
  margin: 4px auto;
  padding: 0;
  max-inline-size: 100%;
}
.prose b {
  font-family: var(--font-body);
  font-weight: 900 !important;
  text-shadow: -0.2px 0.2px 0px #030025;
  letter-spacing: 0px;
}
.prose a {
  font-family: var(--font-body);
  color: #030025;
  font-weight: 500;
  text-decoration: none;
  stroke-linecap: round;
  border-bottom: 1.5px solid rgba(3, 0, 37, 0.2);
}
.prose a:hover {
  background: rgba(3, 0, 37, 0.05);
}
.prose .shiki {
  padding: 12px 24px 16px 16px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(3, 0, 37, 0.25);
  margin: 18px 0;
}
.prose code {
  font-size: 12px;
}
.prose blockquote {
  margin: 24px 0;
  padding: 0 18px;
  width: 100%;
  font-weight: 400;
  border-left: 3px solid rgba(3, 0, 37, 0.2);
}
.prose blockquote p {
  margin: 0;
  width: 100%;
}
.prose img {
  border-radius: 6px;
  box-shadow: -6px 24px 48px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: 0.2s ease;
  width: 100%;
}
.prose img:hover {
  opacity: 0.98;
}
.prose iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin: 40px auto;
}
.prose table {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
}
.prose table th {
  font-family: "DM Serif Display", "Inter", sans-serif;
  font-size: 22px;
  letter-spacing: 0px;
}
.prose table tr td {
  flex: 1;
  border: 4px solid white;
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.08);
  transition: 0.2s ease;
}
.prose table :where(table thead tr:first-child th:first-child) {
  border-start-start-radius: 6px;
}
.prose table :where(table thead tr:first-child th:last-child) {
  border-start-end-radius: 6px;
}
.prose table :where(table:not(:has(tfoot)) tr:last-child td:first-child) {
  border-end-start-radius: 6px;
}
.prose table :where(table:not(:has(tfoot)) tr:last-child td:last-child) {
  border-end-end-radius: 6px;
}
.prose .gallery {
  gap: 16px !important;
}
.prose.prose-preview h1, .prose.prose-preview h2, .prose.prose-preview h3, .prose.prose-preview h4, .prose.prose-preview p {
  display: none;
}
.prose.prose-text {
  pointer-events: none;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}
.prose.prose-text h1 {
  font-size: 18px;
  margin: 8px 0;
}
.prose.prose-text h2 {
  font-size: 16px;
  margin: 8px 0;
}
.prose.prose-text h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0;
}
.prose.prose-text h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
}
.prose.prose-text p {
  font-size: 13px;
  line-height: 140%;
  margin: 8px 0;
}
.prose.prose-img {
  pointer-events: none;
  background: red;
}
.prose.prose-img .grid {
  -moz-column-gap: 0% !important;
       column-gap: 0% !important;
  row-gap: 0% !important;
  margin: 0 !important;
}
.prose.prose-img .gallery .elem {
  margin: 0;
}
.prose.prose-img h1, .prose.prose-img h2, .prose.prose-img h3, .prose.prose-img h4 {
  display: none;
}
.prose.prose-img p {
  display: none;
}

.content-card {
  background: white;
  border-radius: 24px;
  overflow: hidden;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 15px 30px 40px rgba(3, 0, 37, 0.12), inset -2px -4px 8px rgba(3, 0, 37, 0.03);
}

footer {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 48px;
}

input {
  background: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
  transition: 0.2s ease;
}
input:hover {
  background: rgba(255, 255, 255, 0.08);
}
input:focus {
  border: none;
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 32px;
  padding: 0 2px;
  background: rgba(3, 0, 37, 0.08);
  background: rgba(99, 85, 255, 0.2);
  border-radius: 10px;
  outline: none;
  box-shadow: 4px 8px 12px rgba(255, 255, 255, 0.15);
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 26px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 4px 4px 18px rgba(3, 0, 37, 0.6), inset -2px -2px 3px rgba(3, 0, 37, 0.08);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.08);
}/*# sourceMappingURL=app.css.map */